.venv
__pycache__

#Environment Variables
.env

#Database
*.db
*.sqlite3
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

#Logs
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*

